<% provide(:title, "Contact") %>
<div class="container" align="center">
<h1 align="center">Контакты</h1>
<img src="/assets/contacts.png" class="img-fluid" alt="Responsive image" width="30%">

<p align="center">
  <h3>Мобильный</h3>
</p>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><img src="/assets/vodafone-logo.png" width="40px"> +38-095-485-09-10</li>
  <li class="list-group-item"><img src="/assets/kyivstar-logo.png" width="40px"> +38-098-008-55-38</li>
</ul>










  <hr class="my-4">
  <p align="center">
  +30964178678
  </p>

</div>
