<% provide(:title, "Contact") %>
<div class="container" align="center">
  <h1 align="center">Контакты</h1>
    <%= image_tag 'contacts.png', width: "30%", class: "img-fluid", alt: "Responsive image" %>
	  <p align="center">
        <h3>Мобильный телефон</h3>
      </p>
	  <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= image_tag 'vodafone-logo.png', width: "40px" %> +38-095-485-09-10
        </li>
        <li class="list-group-item">
          <%= image_tag 'kyivstar-logo.png', width: "40px" %> +38-098-008-55-38
        </li>
        <hr class="my-4">
      </ul>
</div>
