<% provide(:title, "Contact") %>
<div class="jumbotron" align="center">
<h1 align="center">Контакты</h1>
<img src="/assets/contacts.png" class="img-fluid" alt="Responsive image" width="30%">
<p align="center">
  <h2>Киевстар</h2>
</p>
  <hr class="my-4">
  <p align="center">
  +30964178678
  </p>

</div>
