<% provide(:title, "Услуги") %>
<div class="container">
<h1 align="center">Наши услуги</h1>
<div align="center">
<img src="/assets/services.png" class="img-fluid" alt="Responsive image" width="30%">
</div>
<br>
<br>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Печать изделий по Вашим 3D-моделям</li>
  <li class="list-group-item">Изменение, доработка, корректировка Ваших 3D-моделей в случае необходимости</li>
  <li class="list-group-item">Черчение 3D-моделей по Вашим эскизам</li>
  <li class="list-group-item">Снятие размеров с Ваших образцов, создание эскизов и черчение 3D-моделей</li>
  <li class="list-group-item">Конструирование деталей и узлов под Ваши задачи</li>
  <li class="list-group-item">Фотографирование напечатанных образцов</li>
</ul>
<br> 
</div>
