<% provide(:title, "Редактирование статьи") %>
  <h1 align="center">Редактирование статьи</h1>
    <%= render 'form' %>
  <div align="center">
    <%= link_to 'Назад', articles_path, class: "btn btn-primary" %>
  </div>
