<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Позвоните нам!
  </a>
  <%= link_to 'Наши Контакты', contact_path, class: "btn btn-primary" %>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <img src="/assets/kyivstar.png" width="150" align="right">
    +38-096-417-86-78
  </div>
</div>
