<p>
  <%= link_to 'Закажите звонок!', new_call_back_path, class: "btn btn-primary" %>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Позвоните нам!
  </a>
  <%= link_to 'Наши Контакты', contact_path, class: "btn btn-primary" %>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <ul class="list-group list-group-flush" align="left">
  <li class="list-group-item">
    <%= image_tag 'vodafone-logo.png', width: "40px" %> +38-095-485-09-10
  </li>
  <li class="list-group-item">
    <%= image_tag 'kyivstar-logo.png', width: "40px" %> +38-098-008-55-38
  </li>
</ul>
  </div>
</div>





